input {
    text-transform: uppercase;
}

.DataTable {
    text-align: left;
}

.VisualizerTable {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

table {
    width: 100%;
    max-width: 500px;
}

td {
    height: 20px;
}

.Normal {
    background-color: transparent;
}

.Activate {
    background-color: greenyellow;
    transition: .5;
}

.CodeActivate {
    background-color: orangered;
    transition: .5s;
}

.CodeDeActivate {
    background-color: goldenrod;
    transition: .5s;
}

.DeActivate {
    background-color: silver;
    transition: .5s;
}